# Ignore all
*

# Except files with extensions
!*.*

# Do not ignore the shader folder
!shaders/

# Do ignore the compiled shaders
shaders/*.spv

# Ignore compiler configuration
compile_commands.json

# Ignore compiler cache directory
.cache
